<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ancs.agpt.system.mapper.PermMapper" >
  	<!-- 开启Mybatis二级缓存 -->
  	 <cache type="com.ancs.agpt.mybatis.cache.MybatisRedisCache">
        <property name="eviction" value="LRU" />
        <property name="flushInterval" value="6000000" />
        <property name="size" value="1024" />
        <property name="readOnly" value="false" />
    </cache>
  <resultMap id="BaseResultMap" type="com.ancs.agpt.system.entity.Perm" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="dr" property="dr" jdbcType="INTEGER" />
    <result column="ts" property="ts" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, permission, description, dr, ts
  </sql>
 
  <insert id="insert" parameterType="com.ancs.agpt.system.entity.Perm" >
    insert into T_ANCS_SYSTEM_PERM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="permission != null" >
        permission,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="dr != null" >
        dr,
      </if>
      <if test="ts != null" >
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="dr != null" >
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.ancs.agpt.system.entity.Perm" >
   
    update T_ANCS_SYSTEM_PERM
    <set >
      <if test="permission != null" >
        permission = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="dr != null" >
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
 	
   <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
	    <include refid="Base_Column_List" />
	    from T_ANCS_SYSTEM_PERM
	    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectPage" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from T_ANCS_SYSTEM_PERM
  </select>
  
  
   <select id="findByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
      select p.*
        from T_ANCS_SYSTEM_USER u
        LEFT JOIN T_ANCS_SYSTEM_USER_ROLE sru on u.ID= sru.user_id
        LEFT JOIN T_ANCS_SYSTEM_ROLE r on sru.role_id=r.ID
        LEFT JOIN T_ANCS_SYSTEM_ROLE_PERM spr on spr.role_id=r.ID
        LEFT JOIN T_ANCS_SYSTEM_PERM p on p.ID =spr.perm_id
        where u.ID=#{userId,jdbcType=BIGINT}
 	</select>
</mapper>